results/*

ws_dlo/*
!ws_dlo/src


**/.vscode
**/__pycache__


ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/2D/10_0.2/model_J.pth
ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/2D/10_1/model_J.pth
ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/2D/10_6/model_J.pth
ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/3D/10_0.2/model_J.pth
ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/3D/10_1/model_J.pth
ws_dlo/src/dlo_manipulation_pkg/models/rbfWeights/3D/10_6/model_J.pth

ws_dlo/src/dlo_manipulation_pkg/models/*
ws_dlo/src/dlo_manipulation_pkg/models_old/*
ws_dlo/src/dlo_manipulation_pkg/models_test/*

data/*
env_dlo/env_2D_Data/StreamingAssets/desired_shape/2D/images/*
env_dlo/env_2D_Data/StreamingAssets/desired_shape/2D/images/realsim_desired_positions_onearm_old.npy
env_dlo/env_2D_Data/StreamingAssets/desired_shape/2D/images/realsim_desired_positions_onearm.npy

analysis/*